* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
.goog-te-banner-frame,
.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

html {
  margin-top: 0 !important;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.main {
  position: relative;
  padding: 10px;
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.viewer {
  width: 100%;
  height: 100%;
}

#whole-map-image-area {
  padding-left: 220px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  flex-shrink: 0;
}

.map-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  margin: 0 auto;
}

.research-building-floor-map {
  width: 82%;
  height: auto;
  margin-top: 3vw;
  margin-left: 15vw;
}

.other-floor-map {
  height: 75%;
  width: auto;
  margin-top: 3vw;
  margin-left: 27vw;
}

.whole-map-img {
  width: auto;
  max-width: 90%;

  margin: 0 auto;
}

.campus-img {
  height: 70vh;
  display: block;
}

.campus-img-area {
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}

.sidebar {
  display: flex;
  width: 300px;
  height: 100vh;
  background-color: #294d3c;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
  transition: width 0.5s ease;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
}

.menu-icon {
  position: absolute;
  left: 15px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.sidebar-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #294d3c;
  border: 2px solid #d7dfdb;
  width: 260px;
  height: 50px;
  font-size: large;
  color: white;
  margin: 5px;
  cursor: pointer;
}
#language-button {
  background: white;
  color: #294d3c;

  border: none;
  border-radius: 18px;

  width: 140px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 6px;

  font-size: 20px;
}

.language-icon {
  width: 30px;
  height: 30px;
}
select.search-menu-button {
  font-size: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding-left: 5px;
}

select.search-menu-button:hover {
  background-color: #ffffff;
}

select.search-menu-section {
  font-size: small;
}

.search-menu-button option:not(:first-child) {
  text-align: start;
  font-size: 0.85em;
  padding-left: 0;
}

.search-menu-button {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 300px;
  height: 50px;
  font-size: large;
  color: black;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.search-menu-button:hover {
  background-color: #d6d6d6;
}

.sidebar-notice {
  width: 90%;
  max-width: 300px;

  flex: 1;
  min-height: 0;

  background: white;
  border-radius: 30px;

  padding: 25px 20px;

  color: #294d3c;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.notice-title {
  font-size: 1.7rem;
  color: #294d3c;
  margin-bottom: 25px;
}

.notice-link {
  font-size: 0.95rem;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}

.notice-link:hover {
  text-decoration: underline;
}

#notice-management-button {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

#notice-management-button a {
  color: #294d3c;
  text-decoration: none;
  font-weight: bold;
}

.sidebar-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #294d3c;
  border: 2px solid #d7dfdb;
  width: 260px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  color: white;
}

.sidebar-account input {
  border: 2px solid rgb(66, 66, 66);
  height: 30px;
  width: 200px;
  margin-bottom: 5px;
  text-align: center;
}

.sidebar-account .account-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-account button {
  margin: 5px 0;
  width: 100px;
  background-color: rgb(243, 243, 243);
  outline: none;
  border: 2px solid rgb(83, 83, 83);
}

.sidebar-button.square {
  width: 100px;
  height: 65px;
}

.sidebar-square-group {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar-button:hover {
  background-color: #305a46;
}

.link-text {
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

/* google翻訳用 */
.goog-te-banner-frame {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

#sidebar-open-button {
  position: absolute;
  width: 0 !important;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: width 0.5s ease;
}

#sidebar-open-button.active {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 100px !important;
  pointer-events: auto;
  opacity: 1;
}

.login-button {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

/* モーダルウィンドウ */
.modal {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.section-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transition: 0s;
  justify-content: right;
  align-items: flex-end;
}

.section-modal-content {
  display: flex;
  min-height: 22vh;
  width: 40vh;
  background: #4d8c8a;
  box-shadow: 10px 10px #294d3c;
  margin: 20px 80px 80px 20px;
  color: white;
  flex-direction: column;
  align-items: center;
}

.section-modal-header {
  min-height: 3.6rem;
  width: 90%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-modal-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.section-modal-close-button {
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

.section-modal-body {
  background-color: white;
  flex: 1;
  width: 84%;
  min-height: 4.5rem;
  color: black;
  padding: 2%;
  border: #2b3431 solid 2px;
  margin-bottom: 20px;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: flex;
  width: 80vw;
  height: 80vh;
  background-color: #294d3c;
  border: 4px solid #305a46;
  border-radius: 5px;
  padding: 20px;
  color: white;
  flex-direction: column;
  align-items: center;
}

.modal-close-button {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  margin-right: 7px;
}

.modal-body {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
}
.modal-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.modal-header {
  justify-content: space-between;
}

.modal-footer {
  flex-shrink: 0;

  display: flex;

  align-items: center;

  gap: 15px;

  width: 100%;

  padding: 0;
}

.modal-body-title {
  margin-left: 50px;
}

.chatbot-input {
  flex: 1;

  min-height: 60px;
  max-height: 120px;

  border: none;

  border-radius: 8px;

  background: #d8e4e4;

  padding: 15px;

  box-sizing: border-box;

  font-size: 16px;
}
#chatbot-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#chatbot-menu .modal-header {
  flex-shrink: 0;

  height: 70px;

  padding: 0 20px;

  background: white;

  color: #294d3c;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
#chatbot-menu .modal-body {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  padding: 25px;

  gap: 20px;
}
.chatbot-submit {
  width: clamp(60px, 6vw, 90px);
  height: clamp(50px, 5vw, 60px);
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background: #6d9898;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease;
}
.chatbot-submit:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.chatbot-submit:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.chatbot-conversation {
  flex: 1;
  width: 100%;
  background: white;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chatbot-message {
  width: fit-content;
  max-width: 360px;
  padding: 18px 22px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
  word-break: break-word;
}
.chat-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.bot-row {
  justify-content: flex-start;
}

.user-row {
  justify-content: flex-end;
}

.bot-icon {
  left: -50px;
  width: 48px;
  height: 48px;
  margin-right: 25px;
  flex-shrink: 0;
}
.bot-message {
  position: relative;
  background: #4d8c8a;
  color: white;
}

.bot-message::after {
  content: "";
  position: absolute;

  left: -12px;
  top: 18px;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #4d8c8a;
}

.user-message {
  position: relative;
  width: fit-content;
  max-width: 350px;
  margin-left: auto;
  background: #e8e8e8;
  color: #555;
  padding: 18px 22px;
  border-radius: 20px;
}
.user-message::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 18px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #e8e8e8;
}
.search-arrow {
  font-size: 60px;
  color: white;
  font-weight: bold;
}
.search-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.map-switches-area {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  pointer-events: auto;
}

.dimention-switch {
  width: 260px;
  height: 72px;

  background: #4d8c8a;

  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0 18px;

  box-sizing: border-box;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.dimention-label {
  color: white;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  width: 40px;
  margin: 3px;
}

.dimention-switch-switch {
  width: 90px;
  height: 40px;

  background: white;
  border-radius: 8px;

  position: relative;
  cursor: pointer;
}

.dimention-switch-thumb {
  position: absolute;

  width: 32px;
  height: 32px;

  background: #4d8c8a;
  border-radius: 6px;

  top: 4px;

  transition: left 0.3s ease;
}

/* 平面 */
.dimention-switch-thumb.left {
  left: 4px;
}

.dimention-switch-thumb.right {
  left: calc(100% - 36px);
}

#floor-select-menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  padding: 10px 15px;

  gap: 15px;

  max-width: 70vw;
}

.floor-select {
  flex-shrink: 0;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.wing-switch-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 165px;

  padding: 18px 16px;

  background: #4d8c8a;

  border-radius: 28px;

  color: white;
}

.wing-switch-title {
  margin-bottom: 18px;
}

.wing-switch-menu label {
  display: flex;
  align-items: center;

  gap: 12px;

  font-size: 20px;

  margin-bottom: 10px;

  cursor: pointer;
}

.wing-switch {
  width: 32px;
  height: 32px;

  accent-color: white;

  flex-shrink: 0;
  cursor: pointer;
}
.wing-gps-button {
  text-decoration: underline;

  cursor: pointer;

  color: white;
}

.util_links {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.language-menu {
  position: absolute;
  top: 0;
  left: -185px;

  width: 170px;
  min-height: 250px;

  background: #294d3c;

  display: none;
  flex-direction: column;

  z-index: 1100;
}

.language-menu.active {
  display: flex;
}

.language-item {
  padding: 25px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.language-item:hover {
  background: #305a46;
}

.language-close {
  text-align: right;
  font-size: 30px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
@media (max-width: 800px) {
  .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 260px;
    z-index: 1000;
  }

  .whole-map-img {
    max-width: 95%;
  }
  .sidebar.closed {
    width: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .map-switches-area {
    left: 10px;
    right: 10px;
    bottom: 10px;
    flex-direction: column;

    gap: 10px;
  }
  #search-menu .modal-body > .modal-row {
    flex-direction: column;
    gap: 40px;
  }

  .search-arrow {
    transform: rotate(90deg);
    font-size: 40px;
  }

  .search-menu-button {
    width: 90%;
  }

  .search-selects-row {
    flex-direction: column;
    gap: 15px;
  }

  .research-building-floor-map {
    width: 95%;
    height: auto;
    margin-top: 50vw;
    margin-left: 0;
  }

  .other-floor-map {
    width: 95%;
    height: auto;
    margin-top: 40vw;
    margin-left: 5vw;
  }
  .main {
    padding: 5px;
  }

  #floor-select-menu {
    max-width: calc(100vw - 40px);
  }
  .wing-switch-menu {
    width: auto;
    left: 10px;
    right: 130px;
    top: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 20px;

    padding: 10px 15px;
  }
  #whole-map-image-area {
    padding-top: 130px;
    padding-left: 0px;
  }
  .wing-switch-title {
    display: none;
  }
  .wing-switch-menu label {
    margin: 0;
    font-size: 14px;
  }
  .language-menu {
    left: auto;
    right: 0;
    top: 80px;
  }
  .wing-switch {
    width: 24px;
    height: 24px;
  }
  #sidebar-open-button {
    position: absolute;
    right: 10px;
    top: 10px;

    width: 70px !important;
    height: 70px;

    opacity: 1;
    pointer-events: auto;
  }

  .campus-img {
    height: auto;
    width: 75vw;
    margin: 0 auto;
  }

  .campus-img-area {
    margin-left: 0;
    margin-top: 2vh;
  }

  .section-modal-content {
    min-height: 20vh;
    width: 35vh;
    margin: 30px auto;
  }
}
