* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.main {
  position: relative;
  padding: 10px;
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.viewer {
  width: 100%;
  height: 100%;
}

.research-building-floor-map {
  width: 82%;
  height: auto;
  max-height: 85%;
  margin-top: 7vw;
  margin-left: 15vw;
}

.other-floor-map {
  height: 75%;
  width: auto;
  max-height: 85%;
  margin-top: 3vw;
  margin-left: 20vw;
}

.sidebar {
  display: flex;
  width: 300px;
  height: 100vh;
  background-color: #294d3c;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
  transition: width 0.5s ease;
}

.sidebar.closed {
  width: 100px;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.sidebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #294d3c;
  border: 2px solid #d7dfdb;
  width: 260px;
  height: 50px;
  font-size: large;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.sidebar-notice {
  width: 90%;
  max-width: 300px;

  flex: 1;
  min-height: 0;

  background: white;
  border-radius: 30px;

  padding: 25px 35px;

  color: #294d3c;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.notice-title {
  font-size: 1.7rem;
  color: #294d3c;
  margin-bottom: 25px;
}

.notice-link {
  font-size: 0.95rem;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}

.notice-link:hover {
  text-decoration: underline;
}

#notice-management-button {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

#notice-management-button a {
  color: #294d3c;
  text-decoration: none;
  font-weight: bold;
}

.sidebar-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #294d3c;
  border: 2px solid #d7dfdb;
  width: 260px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  color: white;
}

.sidebar-account input {
  border: 2px solid rgb(66, 66, 66);
  height: 30px;
  width: 200px;
  margin-bottom: 5px;
  text-align: center;
}

.sidebar-account .account-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-account button {
  margin: 5px 0;
  width: 100px;
  background-color: rgb(243, 243, 243);
  outline: none;
  border: 2px solid rgb(83, 83, 83);
}

.sidebar-button.square {
  width: 100px;
  height: 65px;
}

.sidebar-square-group {
  display: flex;
  gap: 40px;
}

.sidebar-button:hover {
  background-color: #305a46;
}

.link-text {
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

#sidebar-open-button {
  position: absolute;
  width: 0 !important;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: width 0.5s ease;
}

#sidebar-open-button.active {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 100px !important;
  pointer-events: auto;
  opacity: 1;
}

/* モーダルウィンドウ */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: flex;
  width: 80vw;
  height: 80vh;
  background-color: #294d3c;
  border: 4px solid #305a46;
  border-radius: 10px;
  padding: 20px;
  color: white;
  flex-direction: column;
  align-items: center;
}

.modal-close-button {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  margin-right: 7px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.modal-row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
}

.modal-header {
  justify-content: space-between;
}

.modal-footer {
  justify-content: right;
  margin-bottom: 0;
}

.modal-body-title {
  margin-left: 50px;
}

.chatbot-input {
  width: 90%;
  height: 100px;
  border-radius: 3px;
  margin-right: 5px;
  padding: 5px;
}

.chatbot-submit {
  margin-top: auto;
  padding: 4px 8px;
}

.chatbot-conversation {
  width: 95%;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(197, 197, 197, 0.34);
  display: flex;
  flex-direction: column;
}

.chatbot-message {
  min-width: 50px;
  max-width: 70%;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
  color: black;
  display: inline-block;
  width: fit-content;
}

.user-message {
  background-color: rgb(91, 200, 236);
  margin-left: auto;
}

.map-switches-area {
  position: absolute;
  left: 20px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.dimention-switch {
  height: 60px;
  width: 200px;
  background: #418281;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 3px;
  margin-right: 20px;
}

.dimention-switch-label {
  color: white;
  line-height: 1.15;
  letter-spacing: 1px;
}

.dimention-switch-switch {
  width: 82px;
  height: 32px;
  background: white;
  border: 3px solid #ddd;
  border-radius: 4px;

  position: relative;
  box-sizing: border-box;
}

.dimention-switch-thumb {
  width: 25px;
  height: 25px;
  background: #438985;
  border-radius: 4px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: 7px;
}

.right {
  right: 7px;
}

#floor-select-menu {
  display: flex;
  flex-direction: row;
  gap: 10px 15px;
  padding: 5px;
  flex-wrap: wrap;
}

.floor-select {
  color: rgb(90, 90, 90);
  text-decoration: underline;
  font-size: large;
  cursor: pointer;
}

.wing-switch-menu {
  position: absolute;
  left: 30px;
  top: 30px;

  min-width: 120px;

  text-align: center;
  padding: 10px;

  background-color: #418281;
  color: white;
  border-radius: 20px;
}

.wing-switch-title {
  font-size: 0.9em;
  margin-bottom: 3px;
}

.wing-switch {
  appearance: checkbox;
}

.util_links {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

@media (max-width: 800px) {
  .map-switches-area {
    flex-direction: column;
    align-items: flex-start;
  }

  .research-building-floor-map {
    width: 100%;
    height: auto;
    margin-top: 55vw;
    margin-left: 0;
  }

  .other-floor-map {
    width: 95%;
    height: auto;
    margin-top: 45vw;
    margin-left: 5vw;
  }
  .main {
    padding: 5px;
  }

  #floor-select-menu {
    gap: 10px 25px;
    margin-right: 10px;
  }

  .wing-switch-menu {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  #sidebar-open-button.active {
    right: 10px;
    top: 10px;
  }
}
