<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>デザイン原案</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'toyosu_campus_navi/css/style.css' %}">
  </head>
  <body>
    <div class="app">
      <div class="main">
        {% load static %}
        <img src="{% static 'toyosu_campus_navi/image/OverallMapImage.png' %}">
      </div>
      <div class="sidebar">
        <div class="sidebar-square-group">
          <div class="sidebar-button square">
            {% load static %}
            <img src="{% static 'toyosu_campus_navi/image/bars_24.png' %}" style="width: 45px;">
          </div>
          <div class="sidebar-button square"  onclick="openMenu('search-menu', 'language-menu');openModal()">言語切替</div>
        </div>
        <div class="sidebar-button" onclick="openModal()">検索</div>
        <div class="sidebar-button">ログイン</div>
        <div class="sidebar-button">チャットボット</div>
        <div class="sidebar-notice">お知らせ</div>
      </div>
    </div>
    <!-- モーダルウィンドウ開始 -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <div id="search-menu" style="display: contents">
          <div class="modal-row modal-header">
            <h2 class="modal-title">検索</h2>
            <h2 onclick="closeModal()" class="modal-close-button">×</h2>
          </div>
          <div class="modal-body" style="padding: 8vh 0">
            <div class="modal-row">
              <div class="sidebar-button" onclick="openMenu('search-menu', 'start-point-menu')">出発地</div>
            </div>
            <div class="modal-row">
              <div class="sidebar-button" onclick="openMenu('search-menu', 'goal-point-menu')">目的地</div>
            </div>
          </div>
        </div>

        <div id="start-point-menu" style="display: none">
          <div class="modal-row modal-header">
            <h2 class="modal-title">出発地点入力</h2>
            <h2 onclick="closeModal();openMenu('start-point-menu', 'search-menu')" class="modal-close-button">×</h2>
          </div>
          <div class="modal-body">
            <div class="modal-body-title">自動入力</div>
            <div class="modal-row">
              <div class="sidebar-button">GPSから推定</div>
              <div class="sidebar-button">地図から選択</div>
              <div class="sidebar-button" style="visibility: hidden"></div>
            </div>
            <div class="modal-body-title">手動入力</div>
            <div class="modal-row">
              <div class="sidebar-button">--棟を選択--</div>
              <div class="sidebar-button">--階を選択--</div>
              <div class="sidebar-button">--部屋を選択--</div>
            </div>
          </div>
          <div class="modal-row modal-footer">
            <div class="sidebar-button square" onclick="openMenu('start-point-menu', 'search-menu')">決定</div>
          </div>
        </div>

        <div id="goal-point-menu" style="display: none">
          <div class="modal-row modal-header">
            <h2 class="modal-title">目的地点入力</h2>
            <h2 onclick="closeModal();openMenu('goal-point-menu', 'search-menu')" class="modal-close-button">×</h2>
          </div>
          <div class="modal-body">
            <div class="modal-body-title">自動入力</div>
            <div class="modal-row">
              <div class="sidebar-button">地図から選択</div>
              <div class="sidebar-button" style="visibility: hidden"></div>
              <div class="sidebar-button" style="visibility: hidden"></div>
            </div>
            <div class="modal-body-title">手動入力</div>
            <div class="modal-row">
              <div class="sidebar-button">--棟を選択--</div>
              <div class="sidebar-button">--階を選択--</div>
              <div class="sidebar-button">--部屋を選択--</div>
            </div>
          </div>
          <div class="modal-row modal-footer">
            <div class="sidebar-button square" onclick="openMenu('goal-point-menu', 'search-menu')">決定</div>
          </div>
        </div>

        <div id="language-menu" style="display: none">
          <div class="modal-row modal-header">
            <h2 class="modal-title">言語選択</h2>
            <h2 onclick="closeModal();openMenu('language-menu', 'search-menu')" class="modal-close-button">×</h2>
          </div>
          <div class="modal-body" style="padding: 4vh 0">
            <div class="modal-row">
              <div class="sidebar-button">日本語</div>
            </div>
            <div class="modal-row">
              <div class="sidebar-button">English</div>
            </div>
            <div class="modal-row">
              <div class="sidebar-button">中文</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- モーダルウィンドウ終了 -->
  </body>
  {% load static %}
  <script src="{% static 'toyosu_campus_navi/js/script.js' %}"></script>
</html>
