<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>豊洲キャンパスナビ</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'toyosu_campus_navi/css/edit.css' %}">
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>

<body>
  {% csrf_token %}
  <div id="google_translate_element"></div>
  <div class="edit-app">
    <div class="edit-header">
      <h1>お知らせ管理</h1>
      <button class="edit-backbutton" onclick="location.href='/'">
        地図画面に戻る
      </button>
    </div>
    <div class="edit-container">
      <input type="text" class="edit-title-input" maxlength="128" placeholder="記事タイトルを入力（0〜128文字）" value="{{title}}">

      <textarea class="edit-content-input" placeholder="本文を入力（HTML 可）">{{ content }}</textarea>

      <div class="edit-buttons">
        <button class="edit-submit">投稿</button>
        <button class="edit-cancel" onclick="location.href='/notice/management'">キャンセル</button>
      </div>

    </div>
  </div>
</body>

{{ alert_message|json_script:"alert_message" }}
{{ username|json_script:"username" }}
{{ is_superuser|json_script:"is_superuser" }}
{{ language|json_script:"language" }}
{{ user_id|json_script:"user_id" }}


{% load static %}
<script src="{% static 'toyosu_campus_navi/js/notice_edit.js' %}"></script>

</html>